<% layout('/layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">캠핑장 수정</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>" method="post" novalidate class="validated-form" id="editForm">
                <div class="mb-3">
                    <label class="form-label" for="title">캠핑장 이름</label>
                    <input class="form-control" type="text" id="title" placeholder="이름" value="<%= campground.title %>"
                        required>
                    <div class="valid-feedback">작성완료!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">캠핑장 위치</label>
                    <input class="form-control" type="text" id="location" placeholder="위치"
                        value="<%= campground.location %>" required>
                    <div class="valid-feedback">작성완료!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">캠핑장 이미지 URL</label>
                    <input class="form-control" type="text" id="image" placeholder="https://"
                        value="<%= campground.image %>" required>
                    <div class="valid-feedback">작성완료!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">캠핑장 가격</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">￦</span>
                        <input type="text" class="form-control" id="price" placeholder="0"
                            value="<%= campground.price %>" required>
                        <div class="valid-feedback">작성완료!</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">캠핑장 설명</label>
                    <textarea class="form-control" id="description" placeholder="설명"
                        required><%= campground.description %></textarea>
                    <div class="valid-feedback">작성완료!</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info" id="editButton">캠핑장 수정</button>
                </div>
            </form>
            <a href="/campgrounds">모든 캠핑장</a>
            <a href="/campgrounds/<%= campground._id %>">뒤로가기</a>
        </div>
    </div>
    

    <script>
        const editButton = document.querySelector('#editButton');
        editButton.addEventListener('click', e => {
            e.preventDefault();
            //Form Vaildation
            const form = document.querySelector('#editForm');
            if (!formVaildation(form)) {
                return;
            }

            const title = document.querySelector('#title');
            const location = document.querySelector('#location');
            const image = document.querySelector('#image');
            const price = document.querySelector('#price');
            const description = document.querySelector('#description');

            axios.put(form.action, {
                title: title.value,
                location: location.value,
                image: image.value,
                price: price.value,
                description: description.value
            })
                .then(res => {
                    if (res.data.success) {
                        window.location.href = '/campgrounds/<%= campground._id %>';
                    } else {
                        alert(res.data.msg);
                    }
                })
                .catch(err => {
                    alert(err.response.data.msg);
                });
        });
    </script>