<% layout('/layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/stars.css">

    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">
                        <%= campground.author.username %>이 작성함.
                    </li>
                    <li class="list-group-item">￦<%= campground.price %>/night</li>
                </ul>
                <% if (currentUser && campground.author.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">수정</a>
                        <a href="#" id="deleteButton" class="card-link btn btn-danger">삭제</a>
                    </div>
                    <% } %>

                        <div class="card-footer text-muted">
                            2일 전
                        </div>
            </div>
        </div>
        <div class="col-6">
            <% if (currentUser) { %>
                <!-- 리뷰 폼 -->
                <h2>리뷰를 남겨주세요</h2>
                <form id="reviewForm" action="/campgrounds/<%= campground._id %>/reviews" class="mb-3 validated-form"
                    novalidate>
                    <div class="mb-3">
                        <label for="rating" class="form-label">평점</label>
                        <input type="range" class="form-range" min="1" max="5" name="rating" id="rating">
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">리뷰</label>
                        <textarea class="form-control" id="body" rows="3" required></textarea>
                        <div class="valid-feedback">작성완료!</div>
                    </div>
                    <button id="reviewButton" class="btn btn-success">작성</button>
                </form>
                <% } %>
                    <% for(let review of campground.reviews) { %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= review.author.username %>
                                </h5>
                                <p class="starability-result" data-rating="<%= review.rating %>">
                                    평점: <%= review.rating %>
                                </p>
                                <p class="card-text">
                                    리뷰 : <%= review.body %>
                                </p>
                                <% if (currentUser && review.author.equals(currentUser._id)) { %>
                                    <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>"
                                        method="POST">
                                        <button name="reviewDeleteButton" class="btn btn-sm btn-danger">삭제</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>

    <script>
        const deleteButton = document.querySelector('#deleteButton');
        if (deleteButton) {
            deleteButton.addEventListener('click', e => {
                e.preventDefault();

                axios.delete(`/campgrounds/<%= campground._id %>`)
                    .then(res => {
                        if (res.data.success) {
                            window.location.href = '/campgrounds';
                        } else {
                            alert(res.data.msg);
                        }
                    })
                    .catch(err => {
                        alert(err.response.data.msg);
                        if (err.response.data.redirectUrl) {
                            window.location.href = err.response.data.redirectUrl;
                        }
                    });
            });
        }

        const reviewButton = document.querySelector('#reviewButton');
        if (reviewButton) {
            reviewButton.addEventListener('click', e => {
                e.preventDefault();

                //form validation
                const form = document.querySelector('#reviewForm');
                if (!formVaildation(form)) {
                    return;
                }

                //review submit
                const rating = document.querySelector('#rating').value;
                const body = document.querySelector('#body').value;

                axios.post(form.action, {
                    rating,
                    body
                })
                    .then(res => {
                        if (res.data.success) {
                            window.location.reload();
                        } else {
                            alert(res.data.msg);
                        }
                    })
                    .catch(err => {
                        alert(err.response.data.msg);
                        if (err.response.data.redirectUrl) {
                            window.location.href = err.response.data.redirectUrl;
                        }
                    });
            });
        }

        const reviewDeleteButtons = document.querySelectorAll('button[name="reviewDeleteButton"]');
        if (reviewDeleteButtons) {
            reviewDeleteButtons.forEach(button => {
                button.addEventListener('click', e => {
                    e.preventDefault();

                    const form = button.parentElement;
                    axios.delete(form.action)
                        .then(res => {
                            if (res.data.success) {
                                window.location.reload();
                            } else {
                                alert(res.data.msg);
                            }
                        })
                        .catch(err => {
                            alert(err.response.data.msg);
                            if (err.response.data.redirectUrl) {
                                window.location.href = err.response.data.redirectUrl;
                            }
                        });
                });
            });
        }
    </script>